* {
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  /* font-size: .85vw; */
  font-size: .65vw;
}

div,
p,
body,
ul,
li,
html {
  padding: 0;
  margin: 0;
}

html {
  overflow: hidden;
}

button {
  transition: .2s ease-in;
}

button:hover {
  cursor: pointer;
  scale: 1.05;
}

ul,
li {
  list-style: none;
}

.h-100 {
  height: 100%;
}

.h-20 {
  height: 20% !important;
}

.h-30 {
  height: 20% !important;
}

/* ************************************************** */
.z-left {
  /* border: 1px solid red; */
  position: absolute;
  width: 19.8% !important;
  height: 88% !important;
  top: 8% !important;
  left: 1% !important;
}

.z-right {
  /* border: 1px solid red; */
  position: absolute;
  width: 19.8% !important;
  height: 88% !important;
  top: 8% !important;
  right: 1% !important;
}

.b-title {
  font-size: .9vw;
  font-family: Source Han Sans CN;
  font-weight: 500;
  color: #ffffff;
  height: 2rem;
}

.b-content {
  height: calc(100% - 2rem);
  position: relative;
}

.bg-hui {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 3px;
}

/* ************************************************** */
:root {
  --barMargin: 1vw;
  --headerH: 8%;
  --barMargin: 0;
  --headerH: 6%;
  --itemPL: 5%;
  --titleH: 6.3%;
}

.unit {
  font-size: 0.6vw;
}

/* 动画 */

.animationData {
  position: absolute;
  top: -1rem;
  animation: example 1s infinite alternate-reverse
}

@keyframes example {
  from {
    transform: translateY(70%);
  }

  to {
    transform: translateY(-30%);
  }
}

.dpy-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dpy-column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* echarts图片底部背景 */
.bg-charts {
  width: 100%;
  height: 4.2rem;
  background: url("@/2d/assets/images/t-pie-bg.png") no-repeat;
  background-size: 100% 100%;
}

.yuanxiao-chart-box {
  padding-left: 1.5vw;
  background: url("@/2d/assets/images/sibianx-chart.png") no-repeat left center / 20% 100%;

}

.hui {
  color: rgb(165, 168, 175);
}

.yuanxiao-val {
  padding-left: .5vw;
}

.yuanxiao-val0 {
  color: rgb(29, 115, 255);
}

.yuanxiao-val1 {
  color: rgb(0, 229, 138);
}

.yuanxiao-val2 {
  color: rgb(197, 198, 39);
}

.yuanxiao-val3 {
  color: rgb(202, 119, 48);
}

@font-face {
  font-family: 'DINCond-Bold';
  src: url("@/2d/assets/font/DINCond-Bold.otf");
}
@font-face {
  font-family: 'sscr';
  src: url("@/2d/assets/font/sscr.otf");
}

.font-number-style {
  font-family: DINCond-Bold;
  font-weight: 700;
  text-shadow: 2px 0px 3px rgba(11, 54, 57, 0.14);
  background: linear-gradient(180deg, #E8EEFF 71.044921875%, #BFCAE8 99.5849609375%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.num-type {
  font-family: 'DINCond-Bold';
}

.num-jianbian-lan {
  background: linear-gradient(to bottom,
      rgb(255, 255, 255) 50%,
      rgb(0, 76, 255)) !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  color: transparent !important;
  display: inline-block !important;
  text-shadow: 0px 0px 6px rgb(255 255 255 / 63%) !important;
}

.num-jianbian-huang {
  background: linear-gradient(to bottom,
      rgb(255, 255, 255) 50%,
      rgb(235, 153, 0)) !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  color: transparent !important;
  display: inline-block !important;
  text-shadow: 0px 0px 6px rgb(255 255 255 / 63%) !important;
}

.num-jianbian-hui {
  background: linear-gradient(to bottom,
      rgb(255, 255, 255) 50%,
      rgb(44, 61, 87)) !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  color: transparent !important;
  display: inline-block !important;
  text-shadow: 0px 0px 6px rgb(255 255 255 / 63%) !important;
}

.num-jianbian-shenhui {
  font-family: DINCond-Bold;
  background-image: linear-gradient(0deg,
      rgba(155, 207, 255, 0.76) 0.95214844%,
      #ffffff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.icon-lan {
  width: .6vw;
  height: .6vw;
  background: rgb(0, 82, 255);
  display: block;
  margin-top: .189vw;
  border-radius: .15vw;
}

.icon-lv {
  width: .6vw;
  height: .6vw;
  background: rgb(0, 249, 71);
  display: block;
  margin-top: .189vw;
  border-radius: .15vw;
}