/* .item{ */
/* width: 23%; */
/* min-width: 380px; */
/* height: 85%;
  position: absolute;
  top: calc(var(--headerH) - 6%);
  pointer-events: auto;
  z-index: 2; */
/* border: 1px solid rgb(22,83,175); */
/* } */

.item {
  width: 19.8% !important;
  height: 89.72% !important;
  top: 7% !important;
  pointer-events: auto;
}